<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Present-Landing-page (copy)</title>
    <link rel="stylesheet" href="\static\bootstrap3\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bakbak+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind+Siliguri&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish:200&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Phoenician&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100&amp;display=swap">
    <link rel="stylesheet" href="\static\css3\Pretty-Footer-.css">
    <link rel="stylesheet" href="\static\css3\styles.css">
</head>

<body>
    <div id="present-landing-page-whole-page-div">
        <div id="first-image">
            <div id="present-nav-bar">
                <div class="d-xl-flex justify-content-xl-end align-items-xl-end" id="present-brand-logo" style="margin-top: 0px;"><a class="text-decoration-none" href="#" style="display: flex;justify-content: inherit;"><img id="present-page-nav-bar-brand-logo" src="\static\img3\DEVWITHOPS-1.png" height="52" width="111" href="{{ url_for('hello_world') }}"><span class="present-just-nav-bar" style="color: rgb(255,255,255);font-family: 'Hind Siliguri', sans-serif;font-size: 23px;margin-left: 13px;padding-top: 7px;">DevWithOps</span></a></div>
                <div class="d-xl-flex align-items-xl-end" id="present-nav-icons"><a class="mx-5 text-decoration-none px-5 present-just-nav-bar" href="#present-page2-main-div" style="font-size: 20px;font-family: Roboto, sans-serif;">Learn</a><a class="mx-5 text-decoration-none px-5 present-just-nav-bar" href="#present-page3-component-controller-div" style="font-size: 20px;font-family: Roboto, sans-serif;">Compete</a><a class="mx-5 text-decoration-none px-5 present-just-nav-bar" href="#" style="font-size: 20px;font-family: Roboto, sans-serif;">Others</a><a class="mx-5 text-decoration-none px-3 present-just-nav-bar" href="#" style="font-size: 20px;font-family: Roboto, sans-serif;">About Us</a></div>
                <div id="ohoo" style="height: 47px;border-bottom-right-radius: 11px;width: 100%;position: relative;display: flex;align-items: flex-end;">
                    <div id="present-page-a-bareek-line-below-nav-bar" style="width: 90%;height: 7%;margin-left: 37px;background-color: #ECECEC;border-bottom-right-radius: 100%;border-bottom-left-radius: 100%;border-top-left-radius: 100%;border-top-right-radius: 100%;"></div>
                </div>
            </div>
            <div id="present-page1-middle-text" style="height: 100%;">
                <div id="present-page1-middle-text-extra-div" class="text-primary" style="margin-top: 40px;"><span id="present-page1-middle-text-span" style="color: rgb(255,255,255);font-size: 45px;font-family: Poppins, sans-serif;font-weight: 600;">Streamline your<br><span style="font-size: 57px;">Dev &amp; Ops</span></span>
                    <p style="color: var(--bs-body-bg);font-family: Roboto, sans-serif;"><br>Enabling everyone around the globe to learn DevOps easily <br>and effectively to derive innovation in software development.<br><br></p>
                    <div style="margin-top: 65px;"><a href="{{ url_for('login') }}"><button class="btn btn-primary" type="button" style="background-color: white;color: #069ED4;font-size: 14px;width: 160px;border-radius: 20px;font-family: Roboto, sans-serif;margin-right: 35px;font-weight: bold;height: 40px;" >LOGIN</button></a><a href="{{ url_for('sign_up') }}"><button class="btn btn-primary" type="button" style="background-color: rgba(8,103,140,0.058823529411764705);font-size: 14px;width: 160px;border-radius: 20px;font-family: Roboto, sans-serif;border: 2px solid #069ED4;height: 40px;">SIGN UP</button></a></div>
                </div>
            </div><img id="present-page-background-graphs" src="static\img3\SVG-PAGE-1-LINES-WITH-CLIPPED-SQUARE%201last-try-3.svg" width="100%" height="100%" style="background-color: #012A42;">
            <div id="present-page2-main-div" style="height: 100vh;">
                <div style="height: 100vh;position: relative;top: 20%;background-color: white;">
                    <div style="position: absolute;display: flex;width: 60%;height: 82%;"><img src="\static\img3\Frame%2012nd-1try.svg"></div>
                    <div id="present-page-2nd-page-image-of-people" style="width: 80%;display: flex;justify-content: flex-end;">
                        <div style="width: 100%;">
                            <div style="height: 100px;width: 42%;display: flex;align-items: flex-end;justify-content: center;">
                                <div style="height: 14px;width: 56px;background-color: #179ed7;border-radius: 20px;"></div>
                            </div>
                            <div style="height: 100%;width: 56%;">
                                <p style="font-size: 50px;font-family: 'Lexend Deca', sans-serif;font-weight: bold;margin-left: 130px;">Learn &amp; Practice</p>
                                <p style="margin-left: 130px;font-size: 22px;width: 424.562px;color: rgb(107,113,120);">Enabling everyone around the globe to <br>learn DevOps easily and effectively to <br>derive innovation in software development.</p>
                            </div>
                        </div><img src="\static\img3\SVG-PAGE-2-GRAPHICS.png" style="height: 420px;box-shadow: 0px 0px;">
                    </div>
                </div>
            </div>
            <div id="present-page3-main-div">
                <div id="present-page3-component-controller-div">
                    <div id="present-page3-main-div-for-left-side-clipart">
                        <div id="present-page3-div-for-clipparts-inside-main-div"><img src="\static\img3\Frame%201thirdpage-people-clipart.svg"></div>
                    </div>
                    <div id="present-page3-main-div-for-graphics-and-writing">
                        <div id="present-page-div-for-graphics"><img id="presdent-page3-graphics-real-svg" src="\static\img3\Groupfixed-third-page-graphics.svg"></div>
                        <div id="present-page-div-for-writing">
                            <div id="present-page3-working-for-blue-line">
                                <div id="present-page3-blue-line-above-text" style="height: 14px;width: 42%;display: flex;align-items: inherit;justify-content: center;">
                                    <div style="height: 14px;width: 62px;background-color: #179ed7;border-radius: 20px;margin-top: 8px;margin-right: -32px;"></div>
                                </div>
                            </div>
                            <div id="present-page3-working-for-text" style="position: relative;top: 25%;text-align: center;">
                                <p id="present-page3-thebold-text">&nbsp; &nbsp; Competing<br>&nbsp; &nbsp; The World</p>
                                <p id="present-page3-thesmall-text">Enabling everyone around the globe to<br>learn DevOps easily and effectively to<br>derive innovation in development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="present-lastpage-main-div">
                <div id="present-page-lastpage-div-above-footer">
                    <div id="present-page-lastpage-text-controll-div">
                        <div style="height: 100px;width: 42%;display: flex;align-items: flex-end;justify-content: end;margin-top: 24px;">
                            <div style="height: 14px;width: 56px;background-color: #179ed7;border-radius: 20px;"></div>
                        </div>
                        <div>
                            <p id="present-lastpage-bold-text-area">Features</p>
                            <p id="present-lastpage-light-text-area">Enabling everyone around the<br>globe to learn DevOps easily and<br>effectively to derive innovation in<br>software development.</p>
                        </div>
                    </div>
                    <div id="present-page-lastpage-graphics-controll-div"><img src="\static\img3\SVG-PAGE-4-GRAPHICS.svg" style="height: 531px;"></div>
                </div>
                <footer>
                    <div id="present-lastpage-footers-logo-controller"><img src="\static\img3\DEVWITHOPS-1.png" width="105" height="52"><span id="present-lastpage-footers-text-in-written-form">DevWithOps</span></div>
                    <div id="present-lastpage-footers-address-controller">
                        <p id="present-page-footerss-adress"><br>Lahore, Pakistan</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="\static\bootstrap3\js\bootstrap.min.js"></script>
    <script src="\static\js3\animations.js"></script>
</body>

</html>